/* <style type="text/css"> */

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 140%; 
    max-height: 140%; 
    font-family:Fira Sans;
    line-height: 1.5em;
    font-size:110%;
}

a:link,a:visited, a:focus, ea:active {
    text-decoration: none;
    color: #900;
    /* display: inline-block; */
}

a:hover {
    text-decoration: underline;
}

#main a{
    text-decoration: none;
    color: #900;
}

#main a:hover {
    text-decoration: underline;
}

/* #nav{ */
/*     position: fixed; */
/*     top: 0; */
/*     bottom: 0;  */
/*     left: 0; */
/*     width: 260px; /\* Width of navigation frame *\/ */
/*     height: 100%; */
/*     overflow: hidden; /\* Disables scrollbars on the navigation frame.
       To enable scrollbars, change "hidden" to "scroll" *\/ */
/*     background: #880000; */
/* } */


main{
    position: fixed;
    top: 0; 
    left: 0px; /* Set this to the width of the navigation frame */
    right: 0;
    bottom: 0;
    overflow: auto; 
    background: #F5F5F5;
}

.innertube{
    margin: 10px; /* Provides padding for the content */
}

p {
    color: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

/*IE6 fix*/
* html body{
    padding: 0 0 0 245px; /* Set the last value to the width of the navigation frame */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.05em;
    margin-left: auto;
    margin-right: 1px;
    border-style: dashed;
    border-width: 1.75px;
    border-color: #900;
    clear: both;
}
/* </style> */
